/* ===== Custom Fonts ===== */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* ===== Default CSS ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* To remove Scrollbar */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.navbar{
  background-color: #121212;
}